body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./vh5ysoL.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    background: rgb(142, 228, 236);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  #quote {
    font-size: 1.5rem;
    color: #555;
  }
  
  #author {
    font-size: 1.2rem;
    color: #777;
    margin-top: 10px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  